@model IEnumerable<MongoDbDemo.Models.Dtos.Topic>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WrittenOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Likes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WrittenOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Likes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit","topic", new { id=item.Id },null) |
            @Html.ActionLink("Details", "Details", "topic", new { id=item.Id }, null) |
            @Html.ActionLink("Delete", "Delete", "topic", new { id=item.Id }, null)
        </td>
    </tr>
}

</table>
